<div class="footer">
  <div class="contact">
      <p class="titleFooter">CONTACT</p>
      <p>
          <img src="assets/phone.svg" alt="phone icone">07635897247
          <img src="assets/mail.svg" alt="mail icone">SmartPurchase@gmail.com
      </p>
  </div>

  <div class="res">
      <p class="titleFooter">RÉSEAUX SOCIAUX</p>
      <img src="./../../assets/footer/insta 1.png" alt="insta icone" >
      <img src="./../../assets/footer/twitter 1.png" alt="twitter icone"> 
      <img src="./../../assets/footer/facebook-n 1.png"alt=facebook icone> 
      <img src="./../../assets/footer/youtube 1.png" alt="youtube icone"> 

  </div>
</div>
